body{
    margin: 0;
    text-align: center;
}

nav{
    background-color: #154B5E;
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 32px;

}

p{
    margin: 0;
}

input{
    background-color: #D9D9D9;
    height: 57px;
    width: 380px;
    margin-bottom: 30px;
    font-size: 20px;
    
}

form{
    
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

button{
    height: 57px;
    width: 226px;
    margin-top: 20px;
    background-color: #7CB4C9;
}

.title-nav{
    color: white;
    font-size: 36px;
}

.subtitle{

    margin-top: 60px;
    font-size: 23px;
}
